.nombre {
    color: cyan;
    font-size: 50px;
    text-align: center;
}

.hr-1 {
    width: 20%;
    border-color: blue;
    background-color:blue;
    height: 15px;
}

.div-1 {
    display: flex;
    margin: 20px;
}

.img-nieve {
    width: 80px;
    border: solid black 1px;

}

.p-1 {
    margin: 0px;
    margin-left: 5px;
}

.hr-2 {
    border-color: gold;
}

.p-2 {
    text-indent: 40px;
}

.body-2 {
    background-color: cyan;
}

.cet {
    font-size: 15;
    color: red;
    font-family: 'Cooper' ;
    letter-spacing: 1cm;
}

.img-nubes {
    float: right;
    width: 300px;
    height: 300px;
}